<!DOCTYPE html>
<html lang="en">
<% include header %>
<body>
    <% include navbar %>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>ImiRP <small>Illegitimate microRNA Predictor</small></h1>
            <p></p>
        </div>
    </div>
 
    <div class="container">
        
 
        <% include footer %>
    </div>
    <!-- /container -->
</body>
</html>